*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-image: url(Foodfun/imgi_17_banner-bg.jpg);
  height: 100vh;
  background-size: cover;
  width: 100%;
}
.body{
  background-color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
  position: absolute;
  left:14rem;
  top: 40px;
  gap: 700px;
  border-radius: 20px;
  transition: all ease-in 1s;
  /* animation: b ease-out infinite; */
  animation: bounce 1s ease-out infinite;
  /* margin-left: 29vh; */
  /* margin-top: 40px; */
}
.body h1{
  color: #ffb606;
}
body h1 span{
  color: #131230;
}
@keyframes bounce{
  0%,
  100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}

.body div a{
  color:#131230 ;
  font-family: Robotosans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.body div{
  gap:30px ;
  display: flex;
}
.ven{
  position: absolute;
  top: 27rem;
  left: 50rem;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.ven h1,p{
  color: white;
  font-style: italic;
}
.ven h1{
  font-size: 4.9rem;
}
.ven p{
   margin-left: 140px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
}
.vv{
  margin-left: 120px;
}
.ven h1 span{
  color: #ffb606;
} 
.ben{
  color: black;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif ;
}
.man{
  height:60vh;
  width: 20%;
}
.woman{
    height:60vh;
    width: 20%;
   position: relative;
   top: 4rem;
}
.about{  
    font-weight: normal;
    font-size: 100px;
    color:#ffb606;
    font-family: "Great Vibes", cursive;
    margin-top: 0px;
    z-index: -1;
}
.for{
 font-size:50px;
 font-weight: bolder;
 position: relative;
 bottom:3rem;
}
.all{
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
gap:2rem;
}
.of{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vent{
  font-size: 1.8rem;
  line-height: 2em;
  max-width: 680px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter ;
  color: rgba(0, 0, 0, 0.615);
  /* position: relative;
  bottom:60px; */
  
}
.good{
   font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: rgba(0, 0, 0, 0.615);
}
.jjk{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter;
  color: rgba(0, 0, 0, 0.615);
  margin-top: 30px;
}
.ss{
  font-style:normal;
  font-family:Arial, Helvetica, sans-serif;
  font-size:3rem;
  font-weight: bold;
  margin-top: 20px;
  color:#ffb606;
}
.dog{
  display: flex;
 gap: 100px ;
 justify-content: center;
 align-items: center;
 margin-top: 150px;
}
.goat{
  display: flex;
  gap: 140px;
}
.num{
  color:black;
  font-size:60px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.ven{
  font-size: medium;
  color:black;
   font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.small{
  margin-top: 90px;
   font-size:20px;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  align-items:last baseline;
  justify-content: center;
  display: flex;
  flex-direction: column;
}