*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  background-image: url(img/imgi_4_bg_1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  /* object-fit: cover; */
  background-size: cover;
  /* width: 100%; */
  opacity: 1;
}
/* @media(max-width: 1024px) {
  .work {
    display: none;
  }
  .food{
    display:flex;
    flex-direction: column;

  }
} */
header{
  background-color: rgba(0, 0, 0, 0.064);
  padding: 1rem;
  margin-bottom: 3rem;
  color: white;
  display: flex;
  gap: 500px;
  justify-content: center;
  align-items: center;
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(2px);
}

header .menu {
  display: none;
}

a{
  text-decoration: none;
  color:burlywood;
  font-size:large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder;
}
h1{
  font-size:xx-large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bolder;
}
.work{
  display: flex;
  gap: 70px;
  align-items: center;
  color: rgb(135, 101, 57);
}

.work a {
  font-size: 1.6rem;
}

.book{
  color:rgb(252, 248, 248);
  padding:15px;
  height: 8vh;
  width: 150px;
  font-size: large;
  border-radius: 10px;
  background-color:burlywood;
}

.best{
 /* background-color: rgba(0, 0, 0, 0.474) ; */
 /* margin-top: 50px; */
 height:60%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.fe{
  font-size:100px;
  color: burlywood;
  font-style:oblique;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}
.love{
  font-size:100px;
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.beef{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.food{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 39.8%;
  /* margin-top: 3px; */
  /* background-color:  rgba(0, 0, 0, 0.474); */
}
.rice{
  font-family: Arial, Helvetica, sans-serif;
  font-size:27px;
  font-weight: bolder;
  color: white;
}
.over{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
small{
  font-size:20px;
  color: white;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 80%;
}
.man{
  height:60vh;
  width: 20%;
}
.woman{
    height:60vh;
    width: 20%;
   position: relative;
   top: 4rem;
}
.about{  
    font-weight: normal;
    font-size: 100px;
    color: rgb(200, 169, 126);
    font-family: "Great Vibes", cursive;
    margin-top: 0px;
    z-index: -1;
}
.for{
 font-size:50px;
 font-weight: bolder;
 position: relative;
 bottom:3rem;
}
.all{
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
gap:2rem;
}
.of{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vent{
  font-size: 1.8rem;
  line-height: 2em;
  max-width: 680px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter ;
  color: rgba(0, 0, 0, 0.615);
  /* position: relative;
  bottom:60px; */
  
}
.good{
   font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: rgba(0, 0, 0, 0.615);
}
.jjk{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter;
  color: rgba(0, 0, 0, 0.615);
  margin-top: 30px;
}
.ss{
  font-style:normal;
  font-family:Arial, Helvetica, sans-serif;
  font-size:3rem;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(204, 160, 102);
}
.dog{
  display: flex;
 gap: 100px ;
 justify-content: center;
 align-items: center;
 margin-top: 150px;
}
.goat{
  display: flex;
  gap: 140px;
}
.num{
  color:burlywood;
  font-size:60px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.ven{
  font-size: medium;
  color: rgba(0, 0, 0, 0.684);
   font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.small{
  margin-top: 90px;
   font-size:20px;
  color: rgba(0, 0, 0, 0.582);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  align-items:last baseline;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.party{
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
margin-top: 40px;
height:100vh;
background-color:#fafafa;
}
.pic{
  height: 15vh;
  width: 7%;
  background-color: rgb(152, 87, 7);
}
.fa{
  color:RGB(200, 169, 126);
  font-size:54px ;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 400;
  margin-bottom:15px ;
}
.fa-solid{
  color: black;
}
.big{
   color: RGB(200, 169, 126) ;
 font-family:"Great Vibes" cursive; 
font-size:90px;
padding-left:140px ;
margin-bottom: 10px;
}
.cat{
 color:RGB(51, 51, 51); 
 font-family:PoppinsArialsans-serif;
 font-size:70px ;
 font-weight:bolder;
 margin-top:-60px;
}
.lovf{
  margin-top:37px ;
  font-weight:bolder;
  font-family:Arial, Helvetica, sans-serif;
  font-size:26px;
}
.bun{
  height:10vh;
  width: 25%;
  color: rgb(152, 87, 7); 
}
.forall{
  display: flex;
  gap: 100px;
}
.fordog{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forme{
  margin-top: 20px;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.622); 
  font-weight: bold;
}
.lova{
  margin-top: 20px;
  font-weight:bolder;
  font-family:Arial, Helvetica, sans-serif;
  font-size:26px;
}
.van{
  display: grid;
  grid-template-columns: repeat(4,390px);
  grid-template-rows: repeat(3,300px);
  justify-content: center;
  align-items: center;
}
.goed{
  width:390px;
  height:300px ;
}
.ta{
 color:RGB(51, 51, 51); 
 font-family:PoppinsArialsans-serif;
 font-size:30px ;
 font-weight:600;  
 position:relative;
 bottom:40px ;
 margin-left:20px;
}
.isaac{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color:#ffffff;
  height:30.98vh ;
  border: 1px solid rgba(0, 0, 0, 0.114);
}
.meat{
  color: RGBA(0, 0, 0, 0.8);
  font-family: PoppinsArialsans-serif;
  font-size:25px ;
  font-weight: 400;
  position: relative;
  bottom: 30px;
  margin-left:20px;
}
.goo{
  background-color: burlywood;
  width: 50%;
  height: 6vh;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  border:none ;
   margin-left:20px;
}
.spe{
  color: RGB(200, 169, 126);
  font-family: "Great Vibes"cursive;
  font-size: 130px;
  text-align: center;
  margin-top:50px ;
  font-weight: 400;
}
.our{
  color:RGB(51, 51, 51) ;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin-top: -90px;
  text-transform: capitalize;
  margin-bottom:80px; 
}
.hop{
  display: flex;
   gap: 100px;
}
.non{ 
  color:RGB(200, 169, 126) ;
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight: 600;
  position: relative;
  bottom: 40px;
}
.gan{
  color:RGB(200, 169, 126) ;
  font-size:140px ;
  font-family: "Great Vibes"cursive;
  font-weight: 400;
  text-align: center;
}
.gen{
     color:RGB(51, 51, 51) ;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin-top: -90px;
  text-transform: capitalize;
  margin-bottom:80px; 
}
.me{
  color: burlywood;
}
.on{
  color:RGB(51, 51, 51) ;
  font-family: PoppinsArialsans-serif;
  font-size: 30px;
  font-weight:600 ;
}
.sam{
  width:90%;
  height: 50vh;
  border-radius: 20px;
}
.fuck{
  color:RGBA(0, 0, 0, 0.3) ;
  font-size:20px ;
  font-family: PoppinsArialsans-serif;
  font-weight:400 ;
}
.hen{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mi{
  margin-top:250px;
  margin-bottom: 150px;
}
.made{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.made:hover{
  transform: translate(-20px,-20px);
}
.gon{
  background-image: url(img/imgi_2_bg_2.jpg);
  height: 110vh;
  background-size: cover;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.dad{
  color:RGB(200, 169, 126);
  font-family:"Great Vibes"cursive ;
  font-size:100px ;
  font-weight:400 ;
  position: relative;
  bottom:60px;
}
.te{
  color: rgba(37, 36, 36, 0.956);
  font-family:PoppinsArialsans-serif ;
  font-size:90px ;
  font-weight:900 ;
  text-align: center;
    position: relative;
  bottom:180px;
}
.action{
  display: flex;
  gap: 260px;
  position: relative;
  bottom:200px;
}
.fuch{
  display: flex;
  flex-direction: column;
}
.fuTh{
  display: flex;
  flex-direction: column;
  margin-left: -250px;
}
label{
  text-align: left;
  color: rgb(17, 16, 16);
  font-size: 30px;
}
.mom{
  background-color: white;
  width: 50%;
  height: 80vh;
 justify-content: center;
 display: flex;
 flex-direction: column;
   align-items: center;
   gap:50px;
   margin-left: -700px;
}
input{
  /* margin-right: 20px; */
  height: 7vh;
  width:210%;
  padding: 7px;
  border: 1px burlywood solid ;
}
.vnn{
  background-color: burlywood;
  height: 7vh;
  width: 40%;
  padding: 5px;
  color: white;
  border: none;
  margin-top: -200px;
}
.vnn:hover{
  transform: translate(20px,-20px);
  background-color: white;
  border: 1px burlywood solid;
  color: burlywood;
}
.bat{
 height:200px;
 width:200px;
 border-radius: 100px;
}
.bold{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:40px;
}
.mama{
  display: flex;
  justify-content: center;
  gap:100px;
}
.monkey{
  color: RGB(102, 102, 102);
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight:400 ;
}
.gar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h4{
  color:RGB(0, 0, 0) ;
  font-family:PoppinsArialsans-serif ;
  font-size:40px ;
  font-weight:400 ;
  text-transform: capitalize;
  margin-bottom: -20px;
}
.jik{
  color: RGB(200, 169, 126);
  font-size:110px ;
  font-weight:400 ;
  font-family:"Great Vibes"cursive ;
  text-align: center;
  margin-top: 80px;
}
.lock{
  color:RGB(51, 51, 51) ;
  font-size:90px ;
  font-weight:900 ;
  font-family:PoppinsArialsans-serif ;
  text-align: center;
  margin-top: -70px;
  margin-bottom: 110px;
}
.bingo{
width:26%;
height: 60vh;
display: flex;
flex-direction: column;
gap: 40px;
/* background-color: white; */
 /* border: 1px solid rgb(179, 172, 172); */
}
.bingg{
width:26%;
height:60vh;
display: flex;
flex-direction: column;
gap: 40px;
/* background-color: white; */
 /* border: 1px solid rgb(179, 172, 172); */
}
.bingv{
width:26%;
height: 60vh;
display: flex;
flex-direction: column;
gap: 40px;
/* background-color: white; */
transition:0.3s ease ;
 /* border: 1px solid rgb(179, 172, 172); */
}
.bingv:hover{
  transform: translatey(20px);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.387);
}
.bingg:hover{
   transform: translatey(20px);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.387);
}
.bingo:hover{
   transform: translatey(20px);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.387);
}
.miss{
width: 100%;
height:45vh ;
}
.rona{
  background-color: #fafafa;
  height: 170vh;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nike{
color:RGB(102, 102, 102) ;
font-family:PoppinsArialsans-serif ;
font-size:25px ;
font-weight:400 ;
margin-bottom: 20px ;
}
.ayo{
  font-family: PoppinsArialsans-serif;
  font-size:30px ;
  font-weight:600 ;
  color:RGB(0, 0, 0) ;
}
.ne{
  display: flex;
  /* margin-bottom: 20px; */
  gap: 100px;
  justify-content: space-between;
}
.cu{
  display: flex;
  gap: 30px;
}
.abc{
  color:RGB(0, 0, 0) ;
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight: 400;
  /* margin-bottom: 40px; */
}
.post{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.myw{
  color: burlywood;
  font-family: "Great Vibes"cursive;
  font-size: 110px;
  font-weight:400 ;
  text-align: center;
  margin-top:200px;
}
.rec{
  color:RGB(51, 51, 51) ;
  font-family:PoppinsArialsans-serif ;
   font-size:100px ;
   font-weight:900 ;
   text-align: center;
   margin-top: -70px;
   margin-bottom: 100px;
}
.flat{
  display: grid;
  grid-template-columns: repeat(3,160px);
  grid-template-rows:repeat(2,130px) ;
}
.eat{
  width: 160px;
  height: 130px;
}
footer{
  margin-top:0px;
  display: flex;
  gap: 40px;
  color: white;
  background-color: black;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.fake{
  display: flex;
  gap:50px;
  flex-direction: row;
}
.nape{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.dino{
   color: RGB(102, 102, 102);
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight:400 ;
  height: 6vh;
  background-color:#2c2b2b ;
  border:none;
}
.cc{
  color:white;
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight:400 ;
  height: 6vh;
  background-color: burlywood;
   border:none;
}
button:hover{
  cursor: pointer;
}
  
@media (max-width: 390px) {
  * {
    font-size: 92%;
  }

  body {
    overflow-x: hidden;
  }

  header {
    /* padding: 0.8rem 1rem; */
    justify-content: space-between;
    /* gap: 10px; */
    width: 100%;
    display: flex;
    gap: 0;
  }

  header .menu {
    font-size: 1.5rem;
    color: #ffffff80;
    margin-right: 250px;
  }

  .work {
    display: none;
  }

  h1 {
    font-size: 1.3rem;
  }
  .home {
    height: 100vh;
    background-position: center;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0;
    /* flex-direction: column; */
  }

  .best {
    padding: 1.5rem 1rem;
    text-align: center;
    height:110%;
    width: 400%;
    padding: 30px;
  }

  .fe,
  .love {
    font-size: 2.5rem;
  }

  .food {
    flex-direction: column;
    gap: 20px;
    position:relative;
    top: 120%;
    right: 80%;
    align-items: center;
    display: flex;
    padding: 1rem 0;
  }

  .beef {
    width: 100px;
    /* height:25px; */
  }

  .rice {
    font-size: 1.2rem;
    color: black;
  }

  small {
    color: black;
  }

  .vent {
    font-size: 1.2rem;
    max-width: 300px;
  }
  .man,
  .woman {
    width: 85%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .about {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    right: 60%;
    top: 10%;
  }

  .for {
    font-size: 3rem;
    line-height: 1.5em;
    bottom: 0;
    position: relative;
  }

  .ss {
    font-size: 2rem;
  }

  .all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 200% 0;
  }

  .abso {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 80px 0;
  }

  .goat,
  .dog {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .dog {
    margin-top: -750px;
  }

  .num {
    font-size: 2.2rem;
    text-align: center;
  }

  .small {
    text-align: center;
    margin-top: 15px;
  }
  .party {
    padding: 2rem 1rem;
    height: auto;
    text-align: center;
  }

  .forall {
    display: flex;
    flex-direction: column;
  }

  .pic {
    width: 35%;
    height: auto;
  }

  .fa {
    font-size: 2.2rem;
  }

  .big {
    font-size: 2.5rem;
    padding-left: 0;
  }

  .cat {
    font-size: 1.8rem;
  }

  .hen {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .van {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .goed {
    width: 100%;
    height: 180px;
  }
  .spe {
    font-size: 3.2rem;
  }

  .our {
    font-size: 1.9rem;
    margin-top: -10px;
  }
  .gon {
    padding: 2rem 1rem;
    height: auto;
  }

  .action {
    flex-direction: column;
    gap: 25px;
  }

  .mom {
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  input {
    width: 100%;
    padding: 0.7rem;
  }

  .vnn {
    width: 70%;
    margin: 20px auto;
  }

  .sam {
    width: 100%;
  }
  .mama {
    flex-direction: column;
    gap: 25px;
  }

  .bat {
    width: 130px;
    height: 130px;
  }

  .monkey {
    font-size: 1.1rem;
  }

  .bingo,
  .bingg,
  .bingv {
    width: 100%;
    height: auto;
  }

  .miss {
    height: auto;
  }

  .gen {
    font-size: 2.7rem;
  }

  .mi {
    position: relative;
  }

  .gan {
    font-size: 5rem;
    position: absolute;
    right: 40%;
    bottom: 20%;
  }
  .rona {
    padding: 2rem 1rem;
    height: auto;
  }

  .post {
    flex-direction: column;
    gap: 20px;
  }

  .flat {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .eat {
    width: 100%;
    height: 160px;
  }
  footer {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 25px;
    text-align: center;
  }

  .fake {
    flex-direction: column;
    gap: 15px;
  }

  .nape {
    text-align: center;
  }

  .dino,
  .cc {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .action{
    position: relative;
    left: 100px;
  }
}
