*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-image: url(Foodfun/imgi_17_banner-bg.jpg);
  height: 100vh;
  background-size: cover;
  width: 100%;
}
.body{
  background-color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;
  position: absolute;
  left:14rem;
  top: 40px;
  gap: 700px;
  border-radius: 20px;
  transition: all ease-in 1s;
  /* animation: b ease-out infinite; */
  animation: bounce 1s ease-out infinite;
  /* margin-left: 29vh; */
  /* margin-top: 40px; */
}
.body h1{
  color: #ffb606;
}
body h1 span{
  color: #131230;
}
@keyframes bounce{
  0%,
  100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}
.body div a{
  color:#131230 ;
  font-family: Robotosans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.body div{
  gap:30px ;
  display: flex;
}
.ven{
  position: absolute;
  top: 27rem;
  left: 50rem;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.ven h1,p{
  color: white;
  font-style: italic;
}
.ven h1{
  font-size: 4.9rem;
}
.ven p{
   margin-left: 140px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
}
.vv{
  margin-left: 120px;
}
.ven h1 span{
  color: #ffb606;
} 
.ben{
  color: black;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif ;
}
.forgone{
  display: flex;
  margin-left: 18rem;
  margin-top: 12rem;
  gap: 30px;
}
.samuel{
  margin-top: 4rem;
  
}
.forgone h4{
  margin-bottom: 40px;
  color: #ffb606;
  font-size: 60px;
  font-style: italic;
}
#fuck{
  background-color: #ffb606;
  height: 6vh;
  width: 150px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.bmm{
  color: #131230;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.van{
  display: grid;
  grid-template-columns: repeat(4,390px);
  grid-template-rows: repeat(3,300px);
  justify-content: center;
  align-items: center;
}
.goed{
  width:390px;
  height:300px ;
}
.ta{
 color:RGB(51, 51, 51); 
 font-family:PoppinsArialsans-serif;
 font-size:30px ;
 font-weight:600;  
 position:relative;
 bottom:40px ;
 margin-left:20px;
}
.isaac{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color:#ffffff; 
  height:30.98vh ;
  border: 1px solid rgba(0, 0, 0, 0.114);
}
.meat{
  color: RGBA(0, 0, 0, 0.8);
  font-family: PoppinsArialsans-serif;
  font-size:25px ;
  font-weight: 400;
  position: relative;
  bottom: 30px;
  margin-left:20px;
}
.goo{
  background-color:  #ffb606;
  width: 50%;
  height: 6vh;
  /* color: white; */
  font-weight: bolder;
  font-size: 25px;
  border:none ;
  border-radius: 20px;
   margin-left:20px;
   cursor: pointer;
     transition: all ease-in 1s;
  animation: bounce 1s ease-out infinite;
}
@keyframes bounce{
  0%,
  100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}
.goo a{
  text-decoration: none;
  color: #131230;
}
.spe{
  color: #ffb606;
  font-family: "Great Vibes"cursive;
  font-size: 130px;
  text-align: center;
  margin-top:50px ;
  margin-left: 220px;
  font-weight: 400;
}
.our{
  color:RGB(51, 51, 51) ;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin-top: -90px;
  text-transform: capitalize;
  margin-bottom:80px; 
}
.hop{
  display: flex;
   gap: 100px;
}
.non{ 
  color:#131230 ;
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight: 600;
  position: relative;
  bottom: 40px;
}
.gan{
  color:RGB(200, 169, 126) ;
  font-size:140px ;
  font-family: "Great Vibes"cursive;
  font-weight: 400;
  text-align: center;
}
.gen{
     color:RGB(51, 51, 51) ;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin-top: -90px;
  text-transform: capitalize;
  margin-bottom:80px; 
}
.me{
  color: burlywood;
}
.flat{
  display: grid;
  grid-template-columns: repeat(3,160px);
  grid-template-rows:repeat(2,130px) ;
}
.eat{
  width: 160px;
  height: 130px;
}
.monkey{
  color:#ffb606;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
footer{
  margin-top:40px;
  display: flex;
  gap:100px;
  color: white;
  background-color: black;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.fake{
  display: flex;
  gap:50px;
  flex-direction: row;
}
.nape{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.dino{
   color: RGB(102, 102, 102);
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight:400 ;
  height: 6vh;
  background-color:#2c2b2b ;
  border:none;
}
.cc{
  color:white;
  font-family:PoppinsArialsans-serif ;
  font-size:30px ;
  font-weight:400 ;
  height: 6vh;
  background-color: burlywood;
   border:none;
}
button:hover{
  cursor: pointer;
}